
<div class="fake-osx-window-ui">
    <div class="fake-osx-window-frame">
        <span class="fake-osx-window-button"></span>
        <span class="fake-osx-window-button"></span>
        <span class="fake-osx-window-button"></span>
    </div>
    <div class="fake-osx-window-url">
    	<i class="ion-ios-search-strong"></i>
    	<span class="fake-osx-window-url-text">{{browser_url}}</span>
    	<i class="ion-ios-refresh-empty"></i>
    </div>
    <div class="fake-osx-window-content">
    	{{> @partial-block }}
    </div>
</div>