
<div class="front-ninja">
	<div class="top-titlebar">
		<div class="app_button menu" data-run="toggle_menu" title="Menu"><i class="ion-navicon-round"></i></div>
		<h1>Front Ninja</h1>
		<h2 class="selected_project"></h2>
		<div class="top-titlebar-buttons">
			<div class="app_button" data-run="close" title="Close"><i class="ion-close"></i></div>
			<div class="app_button" data-run="maximize" title="Maximize"><i class="ion-plus"></i></div>
			<div class="app_button" data-run="minimize" title="Minimize"><i class="ion-minus"></i></div>
			<div class="app_button" data-run="show_help" title="Help"><i class="ion-help"></i></div>
			<div class="app_button home" data-run="load_home" title="Home"><i class="ion-home"></i></div>
		</div>
	</div>
	<pre class="prettyprint lang-html linenums">
	</pre>
	<textarea class="prettysource">
		{{> @partial-block }}
	</textarea>
</div>