
    <div class="buttons clearfix">
      <!-- Three columns of text below the carousel -->
      <div class="square"> 
        <div class="circle" data-run="camera"> 
          <i class="ion-camera"></i>
        </div>
      </div>
      <div class="square">
        <div class="circle" data-run="contacts"> 
          <i class="ion-android-contacts"></i>
        </div>
      </div>
      <div class="square">
        <div class="circle" data-run="filesystem"> 
          <i class="ion-ios-folder"></i>
        </div>
      </div>
      <div class="square">
        <div class="circle" data-run="accelerometer"> 
          <i class="ion-speedometer"></i>
        </div>
      </div>
      <div class="square">
        <div class="circle" data-run="compass"> 
          <i class="ion-android-compass"></i>
        </div>
      </div>
      <div class="square"> 
        <div class="circle" data-run="geolocation"> 
          <i class="ion-ios-world"></i>
        </div>
      </div>
      <div class="square"> 
        <div class="circle" data-run="device"> 
          <i class="ion-iphone"></i>
        </div>
      </div>
      <div class="square">
        <div class="circle" data-run="connection"> 
          <i class="ion-wifi"></i>
        </div>
      </div>
      <div class="square">
        <div class="circle" data-run="vibrate"> 
          <i class="ion-radio-waves"></i>
        </div>
      </div>

    </div>
